body {
  background: #011a27;
}
.app {
  background-color: #f0810e;
  margin: 10px auto;
  min-height: 500px;
  height: auto;
  width: 400px;
  border-radius: 10px;
}
.fan {
  background-color: #e6df44;
  color: #011a27;
  margin: 50px auto;
  min-height: 50px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  text-decoration: solid;
  text-decoration-thickness: 2px;
}
#list input {
  background-color: grey;
  width: 200px;
  height: 40px;
  padding: 0 20px;
  margin: 30px;
  border-radius: 5px;
  border: 0px;
}
#list input::placeholder {
  color: white;
}
#list button {
  height: 40px;
  width: 80px;
  border-radius: 5px;
}
#list button input::focus {
  outline: none;
}
